//Colors

$red       : #FC4349;
$grey      : #D7DADB;
$blue      : #2C3E50;
$lightBlue : #6DBCDB;
$rose      : #B76E79;
$white     : #fff;
$black     : #000;


$color1 : rgba(156, 137, 184, 1);
$color2 : rgba(240, 166, 202, 1);
$color3 : rgba(239, 195, 230, 1);
$color4 : rgba(240, 230, 239, 1);
$color5 : rgba(184, 190, 221, 1);

$color11 : rgba(242, 215, 238, 1);
$color22 : rgba(211, 188, 192, 1);
$color33 : rgba(165, 102, 139, 1);
$color44 : rgba(105, 48, 109, 1);
$color55 : rgba(14, 16, 61, 1);

//fonts
$smallFont  : 16px;
$mediumFont : 20px;
$bigFont    : 48px;

$largePadding : 10px 15px;
$bigPadding   : 20px 30px;

$defaultMarginTop : 30px;
$bigMarginTop     : 90px;

$borderRadius : 4px;